body, html {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: tan;
}
.left-section {
    position: relative;
    top: 0;
    left: 0;
    width: 10%;
    height: 10000%;
    background-color: white;
}
.top-section {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: black;
}

 /* a{
    position: absolute;
    top: 12.50%;
    left: 11.35%;
    width: 100px;
    height: 100px;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: aqua;
    transform: rotate(45deg); 
 } */
/* a{
    color: black;
} */
.About{
    position: absolute;
    top: 95%;
    left: 55%;
    color: black;
}
.Social{
    position: absolute;
    top: 30%;
    left: 2.5%;
}
[name="insta"]{
    position: relative;
    top: 30px;
    left: 0%;
    width: 5%;
    height: 9%;
}
.Social [name="mail"]{
    position: relative;
    top: 200px;
    left: -5.2%;
    width: 5%;
    height: 9%;
}
.Content [value="name"]{
    position: relative;
    font-family: "Salsa", cursive;
    /* top: 40%;
    left: 40%; */
    top: 0px;
    left: 0px;
    font-size: 400%;
}
.Content [value="designation"]{
    position: relative;
    font-family: "Salsa", cursive;
    /* top: 50%;
    left: 50%; */
    top: -52px;
    left: 140px;
    font-size: 200%;
}
.Content [value="welcome"]{
    position: relative;
    font-family: "Salsa", cursive;
    top: 50px;
    left: 0px;
    font-size: 300%;
    color: white;
}
.Content [value="quote"]{
    position: relative;
    font-family: "Salsa", cursive;
    /* top: 60%;
    left: 40%; */
    top: -30px;
    left: 0px;
    font-size: 100%;
    color: white;
}
.Content{
    position: absolute;
    top: 28%;
    left: 40%;
}

